.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    background: #54e6c9;
    border-radius: 15px;
    padding: 25px;
}

#display {
    grid-column: span 4;
    border: 1px solid black;
    text-align: right;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 8px;
}

.colum-2 {
    grid-column: span 2;
}

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background-color: #049b7d;
    font-size: 25px;
    color: white;
    font-family: digital-7;
}

button:active {
    background: #013e32;
}