.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding-bottom: 30px;
}

#details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

p:before {
    content: attr(type);
    display: block;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

input {
    border-radius: 5px;
    border-color: rgb(212, 207, 207);

}

input:focus {
    outline: none;
}

#id_card {
    width: 250px;
    height: 150px;
}

button {
    background-color: #6262f7;
    border-radius: 5px;
    color: white;
    padding: 5px 35px;
    font-weight: bold;
    border: none;
}

.boton {
    display: flex;
    justify-content: right;
    padding-top: 25px;
}

.msg_error {
    background-color: rgb(182, 31, 31);
    border-left: 5px solid red;
    padding: 10px;
    color: white;
    display: none;
    font-weight: bold;
}

.error_asterisco{
    color: red;
    font-weight: bold;
    font-size: 18px;
}


